<html>

<head>
    <style>

    </style>
</head>

<body>
    <p>Hola, </p>
    <p>{{name}} te ha dejado un mensaje:</p>
    <p>{{message}}</p>
    <p>Puedes responder al siguiente email: {{email}}</p>
    <br>
    <p>Gracias por confiar en TecAwy!</p>
    
</body>

</html>